
{% extends "base.html" %}

{% block title %}Welcome to FlaskBook{% endblock %}

{% block header %}<link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="row">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron home-jumbo">
      <div class="container">
        <img src="{{ url_for('static', filename='assets/smiling-girls.jpg') }}" width="1020" />
        <h1>Meet People, the Flask Way!</h1>
        <p>Are you looking for more friends? Search no more, Flaskbook is the new social application to meet other Pythonistas and make solo coding a thing of the past.</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('user_app.login') }}" role="button">Login</a> or <a class="btn btn-primary btn-lg" href="{{ url_for('user_app.register') }}" role="button">Register</a></p>
      </div>
    </div>

</div>
{% endblock %}