#friends-toolbar {
    height: 60px;
    margin-right: 5px;
}

.profile-fullname {
    margin-top: 2px;
    margin-bottom: 4px;
}

.profile-username {
    margin-top: 2px;
    margin-bottom: 4px;   
}

.friend-grid-user {
    margin-bottom: 15px;
    height: 215px;
}

.profile-friends-pagination {
    margin-top: 15px;
}