
{% extends "base.html" %}

{% block title %}Password reset{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="row">

  <div class="col-md-offset-3 col-md-6">
    
    <h3>Password reset</h3>

    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    
    {% if message %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}

    {% from "_formhelpers.html" import render_field %}
      {% if require_current %}
        <form method="POST" action="{{ url_for('.change_password')}}" role="form">
      {% else %}
        <form method="POST" action="{{ url_for('.password_reset', username=username, code=code)}}" role="form">
      {% endif %}

      {{ form.hidden_tag() }}

      {% if require_current %}
      {{ render_field(form.current_password, class='form-control') }}
      {% endif %}
  
      {{ render_field(form.password, class='form-control') }}
      
      {{ render_field(form.confirm, class='form-control') }}

      <button type="submit" class="btn btn-default">Save new password</button>

    </form>

  </div>

</div>
{% endblock %}